body{
    margin: 0;
    background-color: black;
    overflow: hidden;
    background-position: 90% top;
}
/*Navigation bar*/
.nav-container{
    display: flex;
    text-align: center;
    align-items: center;
    height: 80px;
    gap: 25px;
    font-size: 20px;
    z-index: 15;
    transition: transform 0.3s ease;
    background:
            radial-gradient(white 1px, transparent 2px) 30px 30px,
            radial-gradient(white 1px, transparent 2px) 30px 30px,
            radial-gradient(white 1px, transparent 2px) 50px 50px,
            radial-gradient(white 1px, transparent 2px) 90px 130px,
            radial-gradient(white 1px, transparent 2px) 200px 80px,
            radial-gradient(white 1px, transparent 2px) 300px 150px,
            radial-gradient(white 1px, transparent 2px) 400px 200px,
            linear-gradient(to bottom, #3b82f6, #1e40af, #000000);
    background-size: 300px 300px, auto;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    transition: all 0.3s ease;
}
a:hover{
    transform: scale(1.2);
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}
/*celestial bodies*/
.stars{
    top: 0;
    width: 100vw;
    height: 100vh;
    background:
            radial-gradient(white 1px, transparent 2px) 30px 30px,
            radial-gradient(white 1px, transparent 2px) 50px 50px,
            radial-gradient(white 1px, transparent 2px) 90px 130px,
            radial-gradient(white 1px, transparent 2px) 200px 80px,
            radial-gradient(white 1px, transparent 2px) 300px 150px,
            radial-gradient(white 1px, transparent 2px) 400px 200px;
    background-size: 300px 300px;
    animation: blink 5s infinite alternate;
    z-index: 1;
}
.moon {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 4rem 0 0 0 #fff77e;
    position: absolute;
    top: 15%;
    right: 10%;
    filter: brightness(1.2);
    animation: riseAndSet 5s ease infinite;
}
/*x, y , blur, spread*/
.sun{
    top: 30%;
    left: 37%;
    width: 28rem;
    height: 28rem;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle,
    #fff77e 15%,
    #ffcc00 30%,
    #ff6600 60%,
    #D00000 85%,
    transparent 100%);
    filter: brightness(1.2);
   /* animation: pulse 2s infinite; */
    animation: pulse 2s linear infinite;
}
.mercury{
    background-color: #4d5645;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    top: 35%;
    left: 43%;
    position: absolute;
}
.venus{
    border-radius: 50%;
    background: radial-gradient(circle at top,
    #e8c28f,
    #644d28,
    #e8c28f,
    #f5f5dc,
    #e8c28f,
    #f5f5dc,
    #e8c28f,
    #644d28,
    #f5f5dc,
    #644d28,
    #e8c28f
    );
    box-shadow: 20px 20px 20px -10px rgb(197, 197, 192),
    inset 20px 20px 20px 10px #232321;
    width: 18rem;
    height: 18rem;
    position: absolute;
    top: 35%;
    left: 42%;
}
.earth {
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    position: absolute;
    top: 35%;
    left: 42%;
    background: radial-gradient(circle at 40% 40%,
    #3cb371 10%,   /* Grüntöne für Landmassen */
    #225b99 30%,   /* Blau für Ozeane */
    #1e4d7a 60%,   /* Dunkleres Blau für Tiefsee */
    #0f2e4d 100%   /* Sehr dunkles Blau für Schatten-Effekt */
    );
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.5); /* Leichte Schatten für Tiefe */
}
.mars{
    border-radius: 50%;
    background-color: red;
    height: 16rem;
    width: 16rem;
    position: absolute;
    top: 35%;
    left: 43%;
}
.jupiter{
    border-radius: 50%;
    background-color: #f5e9c8;
    width: 24rem;
    height: 24rem;
    position: absolute;
    top: 35%;
    left: 39%;
}
.saturn{
    border-radius: 50%;
    background-color: #f5e9c8;
    height: 22rem;
    width: 22rem;
    position: absolute;
    top: 35%;
    left: 40%;
    box-shadow: inset -40px 0 0 rgba(0, 0, 0, 0.2); /* Schatten nach links */

}
.saturn-ring{
    width: 460px;
    height: 305px;
    border: solid 80px #79a5ee;
    border-radius: 50%;
    position: absolute;
    transform: rotate3d(1, 0, -0.2, 75deg);
    top: 12rem;
    left: 30rem;
}
.up-saturn{
    position: absolute;
    width: 22rem;
    height: 11rem;
    background-color: #f5e9c8;
    border-radius: 11rem 11rem 0 0;
    top: 16rem;
    left: 37rem;
    transform: rotate(-12deg);
    z-index: 3;
    box-shadow: inset -40px 0 0 rgba(0, 0, 0, 0.2); /* Schatten nach links */
}
.up-saturn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50% 50% 0 0;
}
.up-saturn::after{
    content: "";
    position: absolute;
    border-radius: 50%; /* Runde Form für den Schatten */
    height: 22rem;
    width: 22rem;
    top: 0;
    left: 0;
}
.uranus{
    border-radius: 50%;
    background-color: #3b82f6;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 35%;
    left: 41%;
}
.neptune{
    position: relative;
    width:200px;
    height: 200px;
    border-radius:50%;
    background: blue;
    top: 5rem;
    left: 41rem;
    box-shadow: inset -10px 10px rgba(0,0,0,0.2);
}
.neptune-ring {
    width: 305px;
    height: 305px;
    border: solid 50px #79a5ee;
    border-radius: 50%;
    position: absolute;
    transform: rotate3d(1, 0, -0.2, 75deg);
    top: 9rem;
    left: 35rem;
}
.up-neptune {
    position: absolute;
    width:200px;
    height: 100px;
    border-radius:100px 100px 0 0;
    background: blue;
    top: 15rem;
    left: 41rem;
}
.up-neptune:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    left: 70px;
}
.up-neptune:after {
    content:"";
    position: absolute;
    width:200px;
    height: 100px;
    border-radius:100px 100px 0 0;
    box-shadow: inset -10px 10px rgba(0,0,0,0.2);
}
.pluto{
    border-radius: 50%;
    background-color: #f5e9c8;
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 35%;
    left: 45%;
}
h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: red;
    animation: changeColor 10s ease infinite;
}
/** KeyFrame Animationen */
@keyframes blink {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
}
@keyframes changeColor {
    0% {color: red}
    50% {color: blue}
    100% {color: yellow}
}
@keyframes pulse {
    0%{transform: scale(1.2)}
    50%{transform: scale(1.1)}
    100%{transform: scale(1.2)}
}
@keyframes rotate {
    0%{transform: rotate3d(1,1,1,0deg)}
    50%{transform: rotate3d(1,1,1,180deg)}
    100%{transform: rotate3d(1,1,1,360deg)}
}
@keyframes riseAndSet {
    0% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(-600px);
    }
}