body{
    margin: 0;
    /*background-color: black;*/
    background: linear-gradient(to left,#0b3477, #06164b,#000000);
    overflow: hidden;
    /*background-position: 90% top;*/
}
/*Navigation bar*/
.nav-container{
    display: flex;
    text-align: center;
    align-items: center;
    height: 80px;
    gap: 25px;
    font-size: 20px;
    z-index: 15;
    transition: transform 0.3s ease;
    background:
            radial-gradient(white 1px, transparent 2px) 30px 30px,
            radial-gradient(white 1px, transparent 2px) 30px 30px,
            radial-gradient(white 1px, transparent 2px) 50px 50px,
            radial-gradient(white 1px, transparent 2px) 90px 130px,
            radial-gradient(white 1px, transparent 2px) 200px 80px,
            radial-gradient(white 1px, transparent 2px) 300px 150px,
            radial-gradient(white 1px, transparent 2px) 400px 200px,
            linear-gradient(to left, #0b3477, #06164b,#000000);
    background-size: 300px 300px, auto;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    transition: all 0.3s ease;
}
a:hover{
    transform: scale(1.2);
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}
/*celestial bodies*/
.stars{
    top: 0;
    width: 100vw;
    height: 100vh;
    background:
            radial-gradient(white 1px, transparent 2px) 30px 30px,
            radial-gradient(white 1px, transparent 2px) 50px 50px,
            radial-gradient(white 1px, transparent 2px) 90px 130px,
            radial-gradient(white 1px, transparent 2px) 200px 80px,
            radial-gradient(white 1px, transparent 2px) 300px 150px,
            radial-gradient(white 1px, transparent 2px) 400px 200px;
    background-size: 300px 300px;
    animation: blink 5s infinite alternate;
    z-index: 1;
    position: absolute;
    pointer-events: none;
}
.moon {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 4rem 0 0 0 #fff77e;
    position: absolute;
    top: 15%;
    right: 10%;
    filter: brightness(1.2);
    animation: riseAndSet 5s ease infinite;
}
.sun{
    top: 30%;
    left: 37%;
    width: 28rem;
    height: 28rem;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle,
    #fff77e 15%,
    #ffcc00 30%,
    #ff6600 60%,
    #D00000 85%,
    transparent 100%);
    filter: brightness(1.2);
   /* animation: pulse 2s infinite; */
    animation: pulse 2s linear infinite;
}
.mercury{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    top: 35%;
    left: 43%;
    position: absolute;
    box-shadow: inset -30px 0 20px 0 rgba(0, 0, 0, 0.5);
    background: radial-gradient(circle at center, #2B2B2B 5%, #555555 35%, #808080 55%, #BFBFBF 75%);
    animation: rotateSlightly 2s infinite ease-in-out;
}
.venus{
    border-radius: 50%;
    background:
            radial-gradient(circle at top, #e8c28f 20%, #644d28 30%, #f5f5dc 40%, #e8c28f 50%, #644d28 60%, #e8c28f 70%);
    box-shadow:inset -20px 0 20px 10px rgb(0, 0, 0, 0.3);
    width: 18rem;
    height: 18rem;
    position: absolute;
    top: 35%;
    left: 42%;
    animation: pulse 5s infinite ease-in-out;
}
.mars{
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
    position: absolute;
    top: 35%;
    left: 43%;
    box-shadow:inset -10px -10px 20px 10px rgb(0, 0, 0, 0.3);
    background: radial-gradient(circle at 40% 40%, #b74820 20%, #862d0c 40%, #6e0b1f 70%);
    animation: changeColorOfMars 5s infinite ease-in-out;
    transition-duration: 5s;
}
.earth {
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    position: absolute;
    top: 35%;
    left: 42%;
    background: radial-gradient(circle at 40% 40%,
    white 7%,
    #3cb371 15%,
    #225b99 30%,
    #1e4d7a 50%,
    #0f2e4d 70%,
    #072441 90%
    );
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.5),
    inset 10px -10px 20px rgba(0, 0, 0, 0.5);
    animation: pulseEarth 5s infinite ease-in-out;
}
.jupiter {
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    position: absolute;
    top: 35%;
    left: 39%;
    box-shadow: inset -30px 0 20px 25px rgb(0, 0, 0, 0.5);
    background: radial-gradient(circle at top,
            #862d0c 0%,
            #E4C9A8 10%,
            #862d0c 20%,
            #F5E8D3 30%,
            #d76b42 40%,
            #E4C9A8 50%,
            #F5E8D3 60%,
            #b74820 70%,
            #E4C9A8 80%,
            #F5E8D3 85%,
            #862d0c 90%
    );
    animation: updown 5s infinite ease-in-out;
}
.jupiter-eye{
    position: absolute;
    width: 5rem;
    height: 3rem;
    background: radial-gradient(circle, #F5E8D3, #862d0c, #E4C9A8);
    border-radius: 50%;
    top: 65%;
    left: 15%;
    box-shadow: inset -5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    animation: scaleJupiterEye 2s infinite ease-in-out;
}
.saturn{
    border-radius: 50%;
    background-color: #f5e9c8;
    height: 22rem;
    width: 22rem;
    position: absolute;
    top: 35%;
    left: 40%;
    box-shadow: inset -40px 0 0 0 rgba(0, 0, 0, 0.2);
}
.saturn-ring{
    width: 460px;
    height: 305px;
    border: solid 80px #7e7871;
    border-radius: 50%;
    position: absolute;
    transform: rotate3d(1, 0, -0.2, 75deg);
    top: 12rem;
    left: 30rem;
    animation: turnRing 5s infinite ease-in-out;
}
.up-saturn{
    position: absolute;
    width: 22rem;
    height: 11rem;
    background-color: #f5e9c8;
    border-radius: 11rem 11rem 0 0;
    top: 16rem;
    left: 37rem;
    transform: rotate(-12deg);
    z-index: 3;
    box-shadow: inset -40px 0 0 0 rgba(0, 0, 0, 0.2);
}
.up-saturn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50% 50% 0 0;
}
.up-saturn::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 22rem;
    width: 22rem;
    top: 0;
    left: 0;
}
.uranus{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 35%;
    left: 41%;
    box-shadow: inset -20px 0 10px 10px rgba(0,0,0,0.2);
    background:
            radial-gradient(circle at top,
            #305ead 10%,
            #929fe8 20%,
            #305ead 30%,
            #929fe8 35%,
            #305ead 50%,
            white 55%,
            #929fe8 60%,
            #305ead 65%,
            #929fe8 70%,
            #305ead 75%,
            #929fe8 90%
            );
    animation: pulseEarth 4s infinite ease-in-out;
}
.uranus-eye{
    position: absolute;
    width: 5rem;
    height: 3rem;
    background: radial-gradient(circle, white, #305ead, #929fe8);
    border-radius: 50%;
    top: 53%;
    left: 15%;
    box-shadow: inset -5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(10deg);
    animation: scaleJupiterEye 2s infinite ease-in-out;
}
.neptune{
    position: absolute;
    width:200px;
    height: 200px;
    border-radius:50%;
    background: blue;
    top: 15rem;
    left: 41rem;
    box-shadow: inset -10px 10px rgba(0,0,0,0.2);
}
.neptune-ring {
    width: 305px;
    height: 305px;
    border: solid 50px #79a5ee;
    border-radius: 50%;
    position: absolute;
    transform: rotate3d(1, 0, -0.2, 75deg);
    top: 9rem;
    left: 35rem;
    animation: turnNeptuneRing 3s infinite ease-in-out;
}
.up-neptune {
    position: absolute;
    width:200px;
    height: 100px;
    border-radius:100px 100px 0 0;
    background: blue;
    top: 15rem;
    left: 41rem;
}
.up-neptune:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    left: 70px;
}
.up-neptune:after {
    content:"";
    position: absolute;
    width:200px;
    height: 100px;
    border-radius:100px 100px 0 0;
    box-shadow: inset -10px 10px rgba(0,0,0,0.2);
}
.pluto{
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 35%;
    left: 45%;
    box-shadow: inset -20px 0 30px 5px rgba(0,0,0,0.2);
    background: radial-gradient(circle at 60% 60% , #f5e9c8 10%, #a89b8d 20%, #645757 50%, #7e7871 90%);
    animation: extendPlutoSpot 2s infinite ease-in-out;
}
h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: red;
    animation: changeColor 10s ease infinite;
}
/** Solar System*/
#solar-system {
    width: 100vw;
    height: 100vh;
    position: absolute;
    fill: none;
}
.orbit1 {
    animation: pulse 3s infinite ease-in-out;
    filter: brightness(200%);
}
.orbit2 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 8s linear infinite;
}
.orbit3 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 10s linear infinite;
}
.orbit4 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 12s linear infinite;
}
.orbit5 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 14s linear infinite;
}
.orbit6 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 17s linear infinite;
}
.orbit7 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 20s linear infinite;
}
.orbit8 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 23s linear infinite;
}
.orbit9 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 26s linear infinite;
}
.orbit10 {
    animation-duration: 18s;
    fill: none;
    animation: rotateOrbit 29s linear infinite;
}
.orbit-group {
    transform-origin: 400px 280px;
    fill: none;
}
/** KeyFrame Animationen */
@keyframes rotateOrbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes blink {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
}
@keyframes changeColorOfMars {
    0% { background: radial-gradient(circle at 40% 40%, #d76b42 10%, #b74820 20%, #a61c38 40%, #6e0b1f 70%); }
    25% { background: radial-gradient(circle at 40% 40%, #932e42 10%, #a61c38 20%, #7a1b2f 40%, #6e0b1f 70%); }
    50% { background: radial-gradient(circle at 40% 40%, #a61c38 10%, #7a1b2f 20%, #9a2e38 40%, #5b141f 70%); }
    100% { background: radial-gradient(circle at 40% 40%, #6e0b1f 10%, #9a2e38 20%, #7a1b2f 40%, #5b141f 70%); }
}
@keyframes changeColor {
    0% {color: #6e0b1f
    }
    50% {color: #768aef
    }
    100% {color: #dede68
    }
}
@keyframes pulse {
    0%{transform: scale(1.2)}
    50%{transform: scale(1.1)}
    100%{transform: scale(1.2)}
}
@keyframes rotate {
    0%{transform: rotate3d(1,1,1,0deg)}
    50%{transform: rotate3d(1,1,1,180deg)}
    100%{transform: rotate3d(1,1,1,360deg)}
}
@keyframes rotateSlightly {
    0%{transform: rotate3d(0,1,0,0deg)}
    25%{transform: rotate3d(0,1,0,7deg)}
    50%{transform: rotate3d(0,1,0,12deg)}
    25%{transform: rotate3d(0,1,0,7deg)}
}
@keyframes riseAndSet {
    0% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(-600px);
    }
}
@keyframes pulseEarth {
     0%, 100% {
         box-shadow: inset -15px -15px 25px rgba(0, 0, 0, 0.5),
         inset 10px -10px 20px rgba(0, 0, 0, 0.5);
     }
     50% {
         box-shadow: inset -30px -30px 50px rgba(0, 0, 0, 0.7),
         inset 10px -10px 30px rgba(0, 0, 0, 0.7);
     }
 }
@keyframes scaleJupiterEye {
    0%{ transform: scale(1.2) rotate(15deg)}
    50%{transform: scale(1.1) rotate(15deg)}
    100%{transform: scale(1.2) rotate(15deg)}
}
@keyframes turnRing {
    0%{
        transform: rotate3d(1, 0, -0.2, 75deg)
    }
    25%{
        transform: rotate3d(1, 0, -0.2, 85deg)
    }
    50%{
        transform: rotate3d(1, 0, -0.2, 75deg)
    }
    75%{
        transform: rotate3d(1, 0, -0.2, 80deg)
    }
}
@keyframes updown{
    0%{
        transform: translateY(5px);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(15px);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(5px);
    }
}
@keyframes turnNeptuneRing {
    0%{
        transform:rotate3d(1, 0, -0.2, 75deg) rotateY(5deg);
    }
    50%{
        transform: rotate3d(1, 0, -0.2, 75deg) rotateY(10deg);
    }
    100%{
        transform:rotate3d(1, 0, -0.2, 75deg) rotateY(5deg);
    }
}
@keyframes extendPlutoSpot {
    0%{
        background: radial-gradient(circle at 60% 60% , #f5e9c8 10%, #a89b8d 20%, #645757 50%, #7e7871 90%);
    }
    50%{
        background: radial-gradient(circle at 60% 60% , #f5e9c8 12%, #a89b8d 20%, #645757 50%, #7e7871 90%);
    }
    100%{
        background: radial-gradient(circle at 60% 60% , #f5e9c8 10%, #a89b8d 20%, #645757 50%, #7e7871 90%);
    }
}
